<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="UTF-8">

		<title>Viosey</title>
		<!-- copyright © 2016 viosey -->
		<meta name="description" content="viosey，一生想做自由极客。很高兴遇见你！">
		<meta name="keywords" content="viosey lake 白森 柏森 个人网站 博客 技术宅 宅">
		<meta name="theme-color" content="#0097A7">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta property="og:site_name" content="Viosey" />
		<meta property="og:url" content="http://viosey.com/" />
		<meta property="og:type" content="blog"/>
		<meta name="application-name" content="viosey"/> <!-- Windows 8/Windows Phone-->
		<link rel="icon" type="image/ico" href="favicon.ico">
		<link rel="icon" sizes="192x192" href="favicon-highres.png">
		<link rel="apple-touch-icon" href="touch-icon-ios.png">
		<link href="css/style.css" rel="stylesheet" type="text/css">
		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<meta name="twitter:title" content="viosey">
		<meta name="twitter:site" content="@viosey">

		<script>window.console = window.console || function(t) {};</script>

		<script src="js/jquery-2.2.0.min.js"></script>
		<script src="js/page.js"></script>
		<script src="js/SmoothScroll.js"></script>
		<!-- particles.js  -->
		<script src="js/particles.min.js"></script>

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
								(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
							m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-70793365-1', 'auto');
			ga('send', 'pageview');
			//ga('set', 'userId', {{USER_ID}}); // 使用已登录的 user_id 来设置用户 ID。
		</script>

		<style>
			@font-face {
				font-family: HelveticaT;
				src:url('https://o27z61k07.qnssl.com/fontHelvetica-Thin.ttf') format('truetype');
				font-weight: normal;
				font-style: normal;
			}
			@font-face {
				font-family: RobotoThin;
				src:url('https://o27z61k07.qnssl.com/fontRoboto-Thin.ttf') format('truetype');
				font-weight: normal;
				font-style: normal;
			}
		</style>
	</head>

	<body>
		<div>
		    <img class="background" src="https://o27z61k07.qnssl.com/imgmountains-glowriver.jpg">
		</div>

		<!-- particles.js container -->
		<div id="particles-js"><canvas class="particles-js-canvas-el"></canvas></div>


		<script>

			/* ---- particles.js config ---- */
			particlesJS("particles-js", {
				"particles": {
					"number": {
						"value": 80,
						"density": {
							"enable": true,
							"value_area": 800
						}
					},
					"color": {
						"value": "#ffffff"
					},
					"shape": {
						"type": "circle",
						"stroke": {
							"width": 0,
							"color": "#000000"
						},
						"polygon": {
							"nb_sides": 5
						},
						"image": {
							"src": "img/github.svg",
							"width": 100,
							"height": 100
						}
					},
					"opacity": {
						"value": 0.8,
						"random": false,
						"anim": {
							"enable": false,
							"speed": 1,
							"opacity_min": 0.1,
							"sync": false
						}
					},
					"size": {
						"value": 3,
						"random": true,
						"anim": {
							"enable": false,
							"speed": 40,
							"size_min": 0.1,
							"sync": false
						}
					},
					"line_linked": {
						"enable": true,
						"distance": 150,
						"color": "#ffffff",
						"opacity": 0.4,
						"width": 1
					},
					"move": {
						"enable": true,
						"speed": 6,
						"direction": "none",
						"random": false,
						"straight": false,
						"out_mode": "out",
						"bounce": false,
						"attract": {
							"enable": false,
							"rotateX": 600,
							"rotateY": 1200
						}
					}
				},
				"interactivity": {
					"detect_on": "canvas",
					"events": {
						"onhover": {
							"enable": true,
							"mode": "grab"
						},
						"onclick": {
							"enable": true,
							"mode": "push"
						},
						"resize": true
					},
					"modes": {
						"grab": {
							"distance": 140,
							"line_linked": {
								"opacity": 1
							}
						},
						"bubble": {
							"distance": 400,
							"size": 40,
							"duration": 2,
							"opacity": 8,
							"speed": 3
						},
						"repulse": {
							"distance": 200,
							"duration": 0.4
						},
						"push": {
							"particles_nb": 4
						},
						"remove": {
							"particles_nb": 2
						}
					}
				},
				"retina_detect": true
			});

		</script>


		<div class="main">
			<div class="db" style="min-height: 937px;">
				<div class="inner">
					<p class="hello">你好 我是 <span class="name">viosey</span></p>
					<p class="meet">很高兴遇见你</p>
				</div>
		    </div>

			<div class="db" style="min-height: 937px;">
				<div class="inner">
					<p class="dbtitle">Maybe</p>
					<p class="dbsubtitlecn">你想要访问:</p>
					<li class="visit-li">
						<p class="visit-li-title visit-li-github"><a href="https://github.com/viosey" target="_blank">Viosey's Github</a></p>
						<p class="visit-li-descript" >某同性交友社区的个人房间</p>
					</li>
					<li class="visit-li">
						<p class="visit-li-title"><a href="https://blog.viosey.com" target="_blank">Viosey's Blog</a></p>
						<p class="visit-li-descript" >一只伪Geek的个人博客</p>
					</li>
					<li class="visit-li">
						<p class="visit-li-title"><a href="http://lab.viosey.com" target="_blank">Viosey's Lab</a></p>
						<p class="visit-li-descript" >Create with <i class="fa fa-heart"></i></p>
					</li>
					<li class="visit-li">
						<p class="visit-li-title"><a href="http://vss.im" target="_blank">vss.im</a></p>
						<p class="visit-li-descript" >viosey's studio</p>
					</li>
				</div>
			</div>

			<div class="db" style="min-height: 937px;">
		        <div class="inner">
		            <p class="dbtitle">Skills</p>
					<p class="dbsubtitleen">List:</p>
		            <div class="skill">
		                <div class="circle">
		                    <div class="pie_left">
		                        <div class="left"></div>
		                    </div>
		                    <div class="pie_right">
		                        <div class="right"></div>
		                    </div>
		                    <div class="mask">
		                        <p>Design</p>
		                        <span>78</span>%
		                    </div>
		                    <p class="describe">1px的偏差也不能忍</p>
		                </div>
		                <div class="circle">
		                    <div class="pie_left">
		                        <div class="left"></div>
		                    </div>
		                    <div class="pie_right">
		                        <div class="right"></div>
		                    </div>
		                    <div class="mask">
		                        <p>HTML</p>
		                        <span>87</span>%
		                    </div>
		                    <p class="describe">大概能用</p>
		                </div>
						<div class="circle">
							<div class="pie_left">
								<div class="left"></div>
							</div>
							<div class="pie_right">
								<div class="right"></div>
							</div>
							<div class="mask">
								<p>CSS &amp; LESS</p>
								<span>56</span>%
							</div>
							<p class="describe">Less学习中</p>
						</div>
		                <div class="circle">
		                    <div class="pie_left">
		                        <div class="left"></div>
		                    </div>
		                    <div class="pie_right">
		                        <div class="right"></div>
		                    </div>
		                    <div class="mask">
		                        <p>JS/jQuery</p>
		                        <span>41</span>%
		                    </div>
		                    <p class="describe">能不用就不用</p>
		                </div>
		                <div class="circle">
		                    <div class="pie_left">
		                        <div class="left"></div>
		                    </div>
		                    <div class="pie_right">
		                        <div class="right"></div>
		                    </div>
		                    <div class="mask">
		                        <p>PHP</p>
		                        <span>9</span>%
		                    </div>
		                    <p class="describe">PHP才是坠吼的!</p>
		                </div>
		                <div class="circle">
		                    <div class="pie_left">
		                        <div class="left"></div>
		                    </div>
		                    <div class="pie_right">
		                        <div class="right"></div>
		                    </div>
		                    <div class="mask">
		                        <p>Python</p>
		                        <span>0</span>%
		                    </div>
		                    <p class="describe">人生苦短, 我要填坑</p>
		                </div>
		                <div class="circle">
		                    <div class="pie_left">
		                        <div class="left"></div>
		                    </div>
		                    <div class="pie_right">
		                        <div class="right"></div>
		                    </div>
		                    <div class="mask">
		                        <p>Photography</p>
		                        <span>50</span>%
		                    </div>
		                    <p class="describe">单反积灰中...</p>
		                </div>
						<div class="circle">
							<div class="pie_left">
								<div class="left"></div>
							</div>
							<div class="pie_right">
								<div class="right"></div>
							</div>
							<div class="mask">
								<p>Dvorak</p>
								<span>72</span>%
							</div>
							<p class="describe">QWERTY是什么?</p>
						</div>
						<div class="circle">
							<div class="pie_left">
								<div class="left"></div>
							</div>
							<div class="pie_right">
								<div class="right"></div>
							</div>
							<div class="mask">
								<p>Vim</p>
								<span>57</span>%
							</div>
							<p class="describe">真不会煮咖啡</p>
						</div>
		            </div>
		        </div>
		    </div>

			<div class="db" style="min-height: 937px;">
				<div class="inner">
					<p class="dbtitle">Know Me</p>
					<p class="dbsubtitleen" >More:</p>
					<a href="mailto:i@viosey.com" target="_blank"><div class="link">
						<i class="fa fa-envelope-square"></i>
						<span>Mail</span>
					</div></a>
					<a href="http://www.v2ex.com/member/viosey" target="_blank"><div class="link">
						<i class="fa fa-vimeo-square"></i>
						<span>V2EX</span>
					</div></a>
					<a href="https://www.facebook.com/viosey" target="_blank"><div class="link">
						<i class="fa fa-facebook-square"></i>
						<span>Facebook</span>
					</div></a>
					<a href="https://twitter.com/viosey" target="_blank"><div class="link">
						<i class="fa fa-twitter-square"></i>
						<span>Twitter</span>
					</div></a>
					<a href="https://plus.google.com/116465253856896614917" target="_blank"><div class="link">
						<i class="fa fa-google-plus-square"></i>
						<span>Googel+</span>
					</div></a>
					<a href="https://steamcommunity.com/id/viosey/" target="_blank"><div class="link">
						<i class="fa fa-steam-square"></i>
						<span>Steam</span>
					</div></a>
					<a href="https://www.flickr.com/photos/viosey" target="_blank"><div class="link">
						<i class="fa fa-flickr"></i>
						<span>Flickr</span>
					</div></a>
					<a href="https://www.instagram.com/viosey/" target="_blank"><div class="link">
						<i class="fa fa-instagram"></i>
						<span>Intagram</span>
					</div></a>
					<a href="http://space.bilibili.com/1550279" target="_blank"><div class="link">
						<i class="fa fa-caret-square-o-right"></i>
						<span>Bilibili</span>
					</div></a>
					<a href="http://www.douban.com/people/viosey/" target="_blank"><div class="link">
						<i class="fa fa-quote-right"></i>
						<span>豆瓣</span>
					</div></a>
					<a href="http://music.163.com/#/user/home?id=36036929" target="_blank"><div class="link">
						<i class="fa fa-music"></i>
						<span>网易云音乐</span>
					</div></a>
					<a href="https://github.com/viosey" target="_blank"><div class="link">
						<i class="fa fa-github-square"></i>
						<span>Github</span>
					</div></a>
				</div>
			</div>
		</div>
		<footer id="footer">
			<div>
				&copy; Viosey
			</div>
		</footer>

	</body>
</html>
